html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footer a {
  display: flex;
  flex-grow: 1;
  padding: 5px;
  color: inherit;
}

.title {
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 510px;
  margin-top: 2rem;
}

.card {
  padding: 0.3rem;
  text-align: center;
  /* color: inherit; */
  border: 1px solid #eaeaea;
  /* width: 40%; */
}

.card h4 {
  margin: 0 0 1rem 0;
}

.card p {
  margin: 0;
}

.card a {
  color: inherit;
}

.pagesgrid {
  margin-top: 2rem;
}

.pagescard {
  padding: 0.5rem 0.3rem;
  text-align: left;
  /* color: inherit; */
  border: 1px solid #eaeaea;
  /* width: 40%; */
}

.pagescard a {
  font-weight: bold;
  color: inherit;
}

.sitegrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.finalgrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.finalcard {
  padding: 0.3rem;
  text-align: center;
  border: 1px solid #eaeaea;
}

.finalcard a {
  font-weight: bold;
  color: inherit;
}

.highlights {
  margin-top: 0.83rem;
  text-align: center;
}

.highlights a {
  font-weight: bold;
  color:blue;
}

.topnews {
  width: 100%;
  margin-top: 0.5rem;
}

.topnews p {
  margin: 0;
}

.topnews a {
  color: inherit;
}

@media (max-width: 600px) {
  .topnews p {
    padding: 0.15rem 0;
  }
}

@media (max-width: 340px) {
  .sitegrid {
    margin: 2rem 1rem 0;
  }
}